body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background: #000;
}
header{
    background: rgb(0 0 0 / 70%);
    z-index: 9;
}
.header_menu ul li a:hover{
    opacity: 0.7;
}
.header_logo svg g{
    fill: #fff;
}
.search_box input{
    text-indent: 25px;
    background: #000;
    border: none;
    border-radius: 50px 0px 0px 50px;
}
.search_box input::placeholder{
    color: #fff;
}
.search_box input:focus{
    outline: none;
    background: #000;
}
.banner_item_wrapper{
    width: 85%;
    margin: auto;
    z-index: 2;
}
.banner_item_content, .banner_item_video{
    z-index: 4;
}
.playbutton button{
    width: 65px;
    height: 65px;
    background: rgb(0 0 0 / 80%);
    border-radius: 50%;
}
.playbutton button svg path{
    fill: #fff;
}
.banner_item{
    background-image: url(images/background_mandalorian.jpg);
    background-position: center;
    box-shadow: inset 0px -100px 37px -14px rgb(0 0 0 / 85%);
}
.banner_item::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 40%);
    z-index: 1;
}
.banner_item_video_wrapper img{
    border-radius: 10px;
}
.banner_item_video_wrapper::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.subtitle{
    width: fit-content;
    border-radius: 50px;
}
.banner_item_content h1{
    font-size: 3.5rem;
}
.share_button{
    font-size: 1.1rem;
    margin-right: 5px;
}
.button_wrapper button{
    transition: all 0.3s ease-in-out;
    border: none !important;
}
.button_wrapper button:hover{
    background: #000;
    color: #fff;
    border: #000;
}
.button_wrapper button:hover svg path{
    fill: #fff;
}
.share_button a:hover{
    opacity: 0.7;
}
.banner_item_video_wrapper{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.banner_item_video_wrapper:hover{
    transform: scale(0.97);
}
.banner_item_video_wrapper:hover .playbutton button{
    background: #fff;
    border: #fff;
    transition: all 0.3s ease-in-out;
}
.banner_item_video_wrapper:hover .playbutton button svg path{
    fill: #000;
}
/* .movies_slider_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
} */
.footer_wrapper{
    gap: 100px;
}
.copyright_content{
    width: 55%;
}
.links_content{
    width: 45%;
}
.copyright_content p{
    color: #fff;
    opacity: 0.6;
    font-size: 0.8rem;
}
.copyright_content a:hover{
    opacity: 0.7;
}
.social_link > a{
    background: #192133;
}
.social_link > a:hover{
    background: #fff;
}
.social_link svg path{
    fill: #fff;
}
.social_link > a:hover svg path{
    fill: #192133;
}
.playstore p{
    font-size: 0.7rem;
    color: #79839b;
}
.playstore h5{
    font-size: 1rem;
    color: #79839b;
}
.playstore_button{
    background: #192133; 
}
.playstore_button:hover{
    background: #fff;
}
.playstore_button:hover .apple_icon path{
   fill: #000;
}
.movies_slider_item a{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.movies_slider_item a, .movies_slider_item a img{
    transition: all 0.3s ease-in-out;
}
.movies_slider_item:hover a img{
   transform: scale(1.03);
}
.movies_slider_item:hover a{
    transform: scale(0.93);
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
}
.swiper-button-next, .swiper-button-prev{
    height: 100%;
    top: 22px;
    transition: all 0.3s ease-in-out;
}
.swiper-button-next{
    right: 0;
    width: 60px;
    transition: all 0.3s ease-in-out;
}
.swiper-button-prev{
    width: 60px;
    left: 0;
}
.swiper-button-next, .swiper-button-prev{
    visibility: hidden;
}
.movies_slider:hover .swiper-button-prev{
    visibility: visible;
}
.movies_slider:hover .swiper-button-next{
    visibility: visible;
}
.search_box input{
    width: 220px;
    padding-right: 25px;
}
.profile_icon{
    margin-left: -20px;
}

@media screen and (max-width: 1024px) {
    .banner_item{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner_item_wrapper{
        flex-direction: column;
        justify-content: center;
    }
    .banner_item_content{
        width: 100% !important;
    }
    .banner_item_video{
        width: 100% !important;
    }
    .footer_wrapper{
        flex-direction: column;
        gap: 50px;
    }
    .copyright_content{
        width: 100%;
    }
    .links_content{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .movies_slider_title h2{
        font-size: 1.3rem;
    }
    .footer_wrapper{
        gap: 20px;
    }
    .links_content{
        gap: 20px;
    }
    .banner_item_content h1{
        font-size: 2rem;
    }
    .banner_item_content h4{
        font-size: 1rem;
    }
    .banner_item_content p{
        font-size: 0.8rem;
    }
    .subtitle{
        font-size: 0.8rem;
    }
    .banner_item_wrapper {
        justify-content: flex-end;
        padding-bottom: 50px;
    }
    .banner_item_wrapper{
        width: 90%;
    }
    .button_wrapper button{
        font-size: 0.8rem;
    }
    .button_wrapper button svg{
        width: 15px;
    }
    .share_button a{
        font-size: 0.8rem;
    }
    .playbutton button{
        width: 50px;
        height: 50px;
    }
    .playbutton button svg{
        width: 20px;
    }
}